@model UniversityRecruitment.Models.changePassword
@{
    ViewBag.Title = "changePassword";
    Layout = "~/Views/Shared/_UniversityLayout.cshtml";
}
<section class="email pt-10 pb-50">
    <div class="container">
        <div class="row justify-content-center">
            <div class="container p-10">
                <h3 class="bg-success text-light text-center p-1 mb-4">Change Password</h3>
            </div>
            <form>
                @Html.Partial("_ResponseMessage")
                <div class="row justify-content-center" style="margin: 0;">
                    <div class="col-md-6">
                        <div class="card shadow">
                            <div class="card-header bg-warning bg-opacity-10">
                                Change Password
                            </div>
                            <div class="card-body">
                                <div class="form-group">
                                    <label class="col-sm-12">LoginId</label>
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.loginId, new { @class = "form-control" })
                                        @Html.ValidationMessageFor(m => m.loginId, "", new { @class = "text-danger" })
                                    </div>
                                </div>
                                <div class="form-group">
                                    <label class="col-sm-12">Old Password</label>
                                    <div class="col-sm-12">
                                        @Html.TextBoxFor(m => m.oldPassword, new { @class = "form-control", @onchange = "checkPassword()" })
                                        @Html.ValidationMessageFor(m => m.oldPassword, "", new { @class = "text-danger" })
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">New Password</label>
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(m => m.newPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.newPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="form-group">
                                        <label class="col-sm-12">Confirm Password</label>
                                        <div class="col-sm-12">
                                            @Html.TextBoxFor(m => m.confirmPassword, new { @class = "form-control" })
                                            @Html.ValidationMessageFor(m => m.confirmPassword, "", new { @class = "text-danger" })
                                        </div>
                                    </div>
                                    <div class="card-footer text-center">
                                        <button type="button" class="btn btn-success" onclick="changePassword()">Click</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </form>

        </div>
    </div>
</section>
<script>

    function checkPassword() {
        debugger;
        var loginId = $('#loginId').val();
        var oldPassword = $('#oldPassword').val();

        $.ajax({
            type: 'post',
            url: '/Home/checkPaasword',
            data: { loginId: loginId, oldPassword: oldPassword },
            success: function (data) {
                if (data != null) {
                    if (data.flag == 1) {
                        swal("", data.message, "success");
                        sessionStorage.setItem('password', data.Password)
                    }
                    else {
                        swal("", data.message, "warning");
                    }
                }
            }

        })
    }

    function changePassword() {
        var loginId = $('#loginId').val();
        var oldPassword = $('#oldPassword').val();
        var newPassword = $('#newPassword').val();
        var confirmPassword = $('#confirmPassword').val();
        var old = sessionStorage.getItem('password')
        debugger;
        if ($('#loginId').val() == "" || $('#loginId').val() == null || $('#loginId').val == undefined) {
            swal("", "Please fill LoginId field", "warning")
            return false;
        }
        if ($('#oldPassword').val() == "" || $('#oldPassword').val() == null || $('#oldPassword').val() == undefined) {
            swal("", "Please fill oldPassword field", "warning")
            return false;
        }
        else if ($('#oldPassword').val() != old) {
            swal("", "Please enter correct oldpassword", "warning")
            return false;
        }
        if ($('#newPassword').val() == "" || $('#newPassword').val() == null || $('#newPassword').val() == undefined) {
            swal("", "Please fill new Password field", "warning")
            return false;
        }
        if ($('#newPassword').val() != $('#confirmPassword').val()) {
            swal("", "Password does not matched", "warning");
            return false;
        }
        $.ajax({

            type: 'post',
            url: '/Home/changePaasword',
            data: { loginId: loginId, newPassword: newPassword },
            success: function (data) {
                if (data != null) {
                    if (data.flag == 1) {
                        swal("", data.message, "success");
                        $('#loginId').val('');
                        $('#oldPassword').val('');
                        $('#newPassword').val('');
                        $('#confirmPassword').val('');
                    }
                    else {
                        swal("", data.message, "warning");
                    }
                }
            }
        })
    }
</script>

